.font {
	font-size: 25px;
	text-align: center;
}
.tablestyle{
	width: 25%;
}
table {
	border-collapse: collapse;
	margin-top: 25px;
	margin_bottom: 0px;
	margin-left: 500px;
	margin-right: 100px;
	background: white;
}
table, th, td {
	border: 1px solid black;
	text-align: center;
	font-size: 25px;
}