body {
	display: block;
	position: relative;
	font-family: Gaegu;
	font-weight:normal;
	font-style:normal;	
}
body::after {
	content: "";
	background: url(./images/graphBackground.png);
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
@font-face {
	font-family: "Gaegu";
	src: url("./fonts/Gaegu-Regular.ttf") ;

}

#button:hover{
	opacity: 0.5;
	
}

#button:active {
	opacity: 0.3;
	transform: translateY(4px);
}	
input{
	float: left;
	font-size: 28px; font-family: Gaegu; 
	padding-left: 10px;
	background: url("./images/inputBox.png") no-repeat;
	width:34px;
    height:34px;
    border: 0;
}